aptdaemon==2.0.2
arandr==0.1.11
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
attrs==25.1.0
autocommand==2.2.2
babel==2.17.0
bcc==0.30.0
bcrypt==4.2.0
blinker==1.9.0
Brlapi==0.8.6
certifi==2025.1.31
cffi==2.0.0
chardet==5.2.0
click==8.1.8
cloud-init==25.2
command-not-found==0.3
configobj==5.0.9
cryptography==43.0.0
cupshelpers==1.0
dbus-python==1.3.2
defer==1.0.6
distro==1.9.0
distro-info==1.13
Django==6.0.1
django-cors-headers==4.0.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
Faker==25.8.0
gyp-next==0.16.2
httplib2==0.22.0
idna==3.10
inflect==7.3.1
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
joblib==1.5.3
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
libevdev==0.11
louis==3.32.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.6.0
mutagen==1.47.0
netaddr==1.3.0
netifaces==0.11.0
numpy==2.4.1
oauthlib==3.2.2
olefile==0.47
packaging==24.2
pandas==2.3.3
passlib==1.7.4
pexpect==4.9.0
pillow==11.1.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
py3status==3.61
pycairo==1.27.0
pycparser==3.0
pycryptodomex==3.20.0
pycups==2.0.4
Pygments==2.18.0
PyGObject==3.50.0
PyJWT==2.12.1
pyparsing==3.1.2
pyserial==3.5
python-apt==3.0.0+ubuntu0.25.4.1
python-dateutil==2.9.0.post0
python-debian==1.0.1+ubuntu1
python-dotenv==1.2.1
pytz==2025.2
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
scikit-learn==1.6.1
scipy==1.17.1
six==1.17.0
speedtest-cli==2.1.3
sqlparse==0.5.5
systemd-python==235
threadpoolctl==3.6.0
typeguard==4.4.2
typing_extensions==4.12.2
tzdata==2025.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.3.0
wadllib==2.0.0
websockets==14.1
wheel==0.45.1
xdg==5
xkit==0.0.0
yt-dlp==2025.3.27
