Django==6.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.0.0
django-filter==25.2
scikit-learn==1.6.1
numpy==2.4.1
pandas==2.3.3
argon2-cffi==23.1.0
python-dotenv==1.2.1
Faker==25.8.0
psycopg2-binary==2.9.10
